.pusher {
  padding: 20px 20px 3px;
}

.sb-score-section {
  margin-bottom: 30px;
}
.sb-team-name {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}
.sb-team-logo-div {
  height: 180px;
}
.sb-team-logo-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.sb-big-X {
  font-size: 60px;
}

.sb-right {
  float: right;
}

.sb-left {
  float: left;
}

.sb-1 {
  margin-top: 125px;
}
.sb-2 {
  margin-top: 50px;
}
.sb-3 {
  margin-top: 0px;
}

.sb-action-btn-text {
  font-size: 60px;
  text-align: center;
  color: #ebff5b;
  text-shadow: 4px 4px 5px #000;
  cursor: pointer;
  -webkit-user-select: none;
}

.sb-action-btn {
  display: block;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  background: url(../assets/basketball.svg);
  background-size: 100px 100px;
  cursor: pointer;
}

.sb-labelled {
  position: relative;
}

.sb-settings-panel {
  margin: 0px 0px 0px 10px;
}

.sb-settings-panel .form {
  margin-top: 10px;
}

.sb-digits-container {
  border: 4px solid #c3c2c2;
  display: table;
  margin: 0 auto;
  padding: 4px 20px;
  background-color: rgb(36, 30, 30);/*rgb(13, 15, 16); */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.sb-status {}
.sb-status p {
  color: #c3c2c2 !important;
  margin: 1px !important;
}
.sb-status a.on {
  background-color: #e95d0f !important;
}
.sb-status a.off {
  background-color: #4b1e05 !important;
}

#sb-message {
    position: absolute;
    z-index: 101;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.sb-modal {
  top: 30% !important;
}
.sb-modal-team {
  font-size: 1.2em;
  margin-bottom: 0px;
}
